.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
}
.upload-button {
  position: relative;
}
.upload-button_btn {
  position: absolute;
  left: 0;
  + input[type="file"] {
    text-indent: -9999px;
    padding-left: 80px;
  }
}
.button_gray {
  font-size: 17px;
  background-color: $input-bg;
  border: 1px solid $border-color;
  padding: 3px 10px;
  min-width: 165px;
  text-align: center;
  &:hover {
    background-color: lighten($input-bg, 3%);
  }
  &:active {
    background-color: darken($input-bg, 3%);
  }
}
.button_flat {
  font-size: 17px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  min-width: 230px;
  display: inline-block;
  vertical-align: top;
}
.button_green {
  background: $color-green2;
  color: $white !important;
  &:hover {
    background: lighten($color-green2, 2%);
  }
  &:active {
    background: darken($color-green2, 2%);
  }
}
.button_gray2 {
  background: $color-gray;
  color: $white !important;
  &:hover {
    background: lighten($color-gray, 2%);
  }
  &:active {
    background: darken($color-gray, 2%);
  }
}
.button_next {
  &:after {
    font-family: "Font Awesome 5 Solid";
    content: "\f061";
  }
  svg {
    right: 20px;
  }
}
.button_prev {
  &:before {
    font-family: "Font Awesome 5 Solid";
    content: "\f060";
  }
  svg {
    left: 20px;
  }
}
.button_next, .button_prev {
  position: relative;
  &:before,&:after {
    display: none;
  }
  svg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 28px;
  }
}